.star-rating {
  font-size: 24px;
  color: #ccc; /* Light gray for empty stars */
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.star {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.full-star, .half-star {
  color: gold; /* Gold color for full stars and half stars */
  z-index: 1;
  position: relative;
}

.empty-star {
  color: #ccc;
  z-index: 1;
  position: relative;
}

.new-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 24px;
  margin-bottom: 5px;
}

.new-rating span {
  margin-left: 4px;
  font-size: 18px;
}


.new-rating .new-star {
  color: gold;
}

.avg-rating {
  margin-left: 8px;
  font-size: 18px;
  color: black;
}

/* New class for the fractional star overlay */
.half-star-overlay {
  position: absolute;  /* Position it over the empty star */
  top: -3px;              /* Align top edges */
  left: 0px;             /* Align left edges */
  width: 100%;         /* Ensure it covers the entire star beneath */
  height: 100%;        /* Match the height of the star */
  clip-path: none;     /* This will be dynamically set in the component */
  z-index: 2;          /* Ensure it sits on top of the empty star */
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold; /* Gold color for full stars and half stars */

}
