/* Container for the entire signup form */
.signup-form {
  width: 500px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Styling for the form title */
.signup-form h1 {
  color: #FF385C;
  text-align: center;
}

/* Label styling for form fields */
.form-label {
  display: block;
  font-weight: bold;
  color: #222;
}

/* Input fields styling*/
.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}
.form-input:focus {
  border-color: #FF385C;
  outline: none;
}

/* Error message styling below input fields */
.error-message {
  color: #D8000C;
  font-size: .875rem;
  margin-top: .25rem;
}

/* Submit button styling with hover effect */
.signup-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #FF385C;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.signup-button:hover {
  background-color: #fb0011;
}

/* Disabled state of the button */
.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  color: #666666;
}
