/* CreateNewSpot.css */
.create-new-spot-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(4, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
}

 .create-new-spot-form h1 {
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.label-create-new {
  display: block;
  font-weight: bold;
  color: #3e3e3e;
  margin-bottom: 5px;
  margin-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
}


  .label-highlight {
  margin-bottom: 100px;
}


.form-section {
  margin-bottom: 20px;
  padding: 10px;
}

.form-section h2 {
  margin-bottom: 10px;
  color: #000000;
}

.form-section p {
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #999;
}

.form-section input,
.form-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.form-section textarea {
  height: 100px;
}

.create-button {
  width: 100%;
  padding: 10px;
  background-color: #FF5A60;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-button:hover {
  background-color: #fc0008;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message-inline {
  display: inline-block;
  color: red;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 4px;
  font-size: 13px;
}

.form-field-inline {
  display: flex;
  align-items: center;
}

.address-container {
  display: grid;
  grid-template-columns: 2fr auto 1fr;
  gap: 5px;
  align-items: center;
  margin: 11px;
  margin-top: -25px;
}

.label-create-new {
  grid-row: 1;

}

.input-with-comma {
  justify-self: bottom;
  grid-row: 2;
  margin: 5px;
}

.form-input {
  grid-row: 2; 
  border-radius: 4px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#text {
  margin-bottom: -1px;
  margin-left: 4px;
}

.lng-lat-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 5px;
  align-items: center;
  margin: 11px;
  margin-top: -25px;
}
