/* Navigation.css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid rgb(204,204,204);
  width: 100%;
}

img {
  height: auto;
  width: 250px;
}

.profile-button-container {
  display: flex;
  align-items: center;
}
