/* Navigation.css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid rgb(204,204,204);
  width: 100%;
}

img {
  height: auto;
  width: 250px;
}

.profile-button-container {
  display: flex;
  align-items: center;
}


.navigation-links {
  display: flex;
  align-items: center;
}

.create-new-spot-link {
  color: purple;
  text-decoration: none;
  padding: 10px 0px;
  margin-right: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.create-new-spot-link:hover {
  color: #573ee3;
}
